.body-background
{
    background-image: url("avenger_bg.jpg");
    background-size: cover;
    background-position: center;
}
#Mycanvas
{
    border-width: 10px;
    background-color: white;
    border-style: ridge;
}
h2
{
    border-radius: 10px;
    width: 200px;
    padding:5px;
}

#head-info 
{
    width:600px;
    border-radius: 10px;
    margin-bottom: 10px;
}
h3{
    display: inline-block;
}
span{
    color:black;
}